# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Factorio Server.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Kayde\OneDrive\Desktop\Factorio Server\.idea\.idea.Factorio Server.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
